@model Guns_of_the_Old_West.Models.Speler;

<h2 class="mt-3 mb-5">Gefeliciteerd!</h2>

<p>@Model.Voornaam</p>
<p>@Model.Naam</p>
<p>@Model.Email</p>
<p>@Model.Telefoon</p>
<p>Je had nog @Model.Counter kogels over.</p>